.stickyiosubscriptionresponse {
    border: 0.1em dashed #000;
    padding: 0.5em;
    display: none;
    margin-top: 0.5em;
}

.stickyiohide {
    display: none;
}

.stickyioconfirm {
    text-align: center;
}

.stickyioconfirm .error {
    background-color: #f08080;
    padding: 0.5em;
}

.stickyioconfirmbutton {
    background-color: #98ff98;
}

.stickyiosubmansuccess {
    background-color: #98ff98;
}

.stickyiosubmanerror {
    background-color: #f08080;
}

.ui-datepicker {
    z-index: 2 !important; /* sadly, this !important is necessary because the native datepicker css doesn't set a z-index high enough */
}

.stickyiohold {
    opacity: 0.5;
}

.subscriptionmanagement h3 {
    max-width: 10em;
}

.subscriptionmanagement input.datepicker {
    border: none;
    cursor: pointer;
}

.subscriptionmanagement .hint {
    font-size: 0.5em;
}

/* modal overrides for the standard Bootstrap modal
Bootstrap modal is built in such a way that capturing a click
on the "fade" overlay is indistinguishable from a dialog or its controls click.
By changing the way the modal is drawn (having the fade truly be
behind the dialog) we can detect a click in our javascript
and react to that event accordingly.
*/

.modal {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 100%;
    width: 75%;
    height: initial;
}

.modal .modal-dialog {
    margin: 0;
}

.modal .quick-view-dialog {
    max-width: 100%;
}

/* ul pagination */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.pagination > .active > a
{
    color: white;
    background-color: #1798d8;
}

/* Snackbar Toast */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #1798d8;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
  
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s;
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/* Radio label */
input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin-right: .4rem;
    margin-top: .4rem;
}